@charset "utf-8";
@import 'reset';
@import 'mixins';

$reverseWhite: #fff;
$reverseBlack: #000;
$primaryDark: #abd9ff;
$primaryLight: #c3f8ff;
$secondaryDark: #ffebad;
$secondaryLight: #fff6bf;

// 공통
html {
  scroll-behavior: smooth;
}
body {
  @include scrollbars(0px, black, white);
}

.wrapper {
  min-width: 360px;
  background: #f4f4f4;
}

.inner {
  position: relative;
  max-width: $desktop;
  margin: 0 auto;
}

// 헤더
.header {
  .logo {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 100;
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    color: $reverseWhite;
    line-height: 1;
  }

  .nav {
    position: absolute;
    top: 300px;
    right: 30px;
    z-index: 100;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: top 0.1s;
    a {
      flex: 0 1 20%;
      width: 12px;
      margin: 0 auto;
      display: block;
      text-indent: -9999px;
      background: rgba($reverseWhite, 0.5);
      border-radius: 10px;
      transition: all 0.5s;
      &.current {
        flex: 0 1 50%;
        width: 18px;
        background: $primaryDark;
      }
    }
  }
}

// 푸터
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

// 메인
.main {
  .section {
    position: relative;
    width: 100%;
    height: 100vh;

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 60;
      transform: translate(-50%, 0);
      transition: transform 0.5s;
    }
    &.current {
      .container {
        transform: translate(-50%, -50%);
      }
    }
  }

  &_home {
    .bg_vanta {
      width: 100%;
      height: 100%;
      &::before {
        content: '';
        position: absolute;
        z-index: 50;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.2);
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 720px;
      height: 200px;
      background: rgba(black, 0.2);
      backdrop-filter: blur(20px);
      border: 3px solid white;
      .typing {
        display: inline-block;
        padding-right: 2px;
        font-size: 28px;
        font-weight: 500;
        color: white;
        // color: transparent;
        line-height: 1.2;
        animation: cursor 1s infinite;
      }
    }

    .scroll {
      position: absolute;
      bottom: 40px;
      left: 50%;
      z-index: 60;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        position: relative;
        animation: upDown 0.5s infinite alternate;
        fill: white;
      }
    }
  }

  &_works {
    background: url('/assets/images/bg_works.jpg') no-repeat center/cover fixed;

    &::before {
      content: '';
      position: absolute;
      z-index: 50;
      width: 100%;
      height: 100%;
      display: block;
      background: rgba(black, 0.6);
      backdrop-filter: blur(5px);
    }

    .container {
      width: 1280px;
    }

    .list {
      display: flex;
      justify-content: center;
      li {
        width: 620px;
        margin: 0 10px;
        padding: 40px 20px;
        background: white;
        border-radius: 10px;
        a {
          display: block;
        }
        h5 {
          margin: 18px 0 12px;
          font-size: 20px;
          font-weight: 700;
        }
        .badge {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          span {
            display: block;
            margin: 2px 5px;
            padding: 2px 5px;
            font-weight: 500;
            background: $primaryLight;
            border-radius: 5px;
          }
        }
      }
    }
  }

  &_about {
    background: linear-gradient($primaryDark, $secondaryLight);

    .bg_shape {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      svg {
        position: relative;
        display: block;
        width: calc(129% + 1.3px);
        height: 100px;
      }
      .shape-fill {
        fill: #f4f4f4;
      }
    }

    .container {
      width: 640px;
      .photo {
        position: relative;
        overflow: hidden;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        border-radius: 50%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: auto;
          transform: translate(-50%, -50%) scale(1);
          object-fit: cover;
          transition: transform 0.5s;
        }
        &:hover {
          img {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }
      .intro {
        width: 300px;
        margin: 0 auto;
        dl {
          margin-top: 20px;
          display: flex;
          align-items: center;
          &:first-child {
            margin-top: 40px;
          }
        }
        dt {
          width: 32px;
        }
        dd {
          flex: 1;
          margin-left: 12px;
          font-size: 20px;
          font-weight: 500;
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes cursor {
  0% {
    border-right: 1px solid white;
  }
  50% {
    border-right: 1px solid transparent;
  }
  100% {
    border-right: 1px solid white;
  }
}

@keyframes upDown {
  0% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
